.generator-wrapper {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    overflow: auto;
}

.generator {
    background-color: #343a40;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    padding: 20px;
    width: 100%;
    max-width: 750px;
    height: 85%;
    overflow: auto;
}

@media (max-width: 767.98px) {
    .generator {
        margin-bottom: 50px;
        margin-top: 10%;
        height: auto;
    }
    .generator,.generator-wrapper {
        overflow: visible;
    }
    #passwordOutput {
        max-width: 100%;
    }
}

@media (max-width: 575.98px) {
    .generator-wrapper {
        height: auto; /* Dostosowanie wysokości na bardzo małych ekranach */
        margin-bottom: 20px; /* Dodanie marginesu na dole */
    }
    .generator {
        height: auto; /* Dostosowanie wysokości na bardzo małych ekranach */
    }
}

@media (max-height: 650px) {
    .generator {
        margin-bottom: 50px; /* Dodaj dodatkowy margines na dole tylko dla urządzeń mobilnych */
        margin-top: 15%;
        height: auto; /* Zmiana na auto, aby lepiej dostosować się do niskich ekranów */
    }
}

#whatAdd {
    font-size: 1.2rem; /* Rozmiar tekstu */
    margin-bottom: 10px; /* Odstęp od dolu */
}

#whatAddSrodek {
    font-size: 1.2rem; /* Rozmiar tekstu */
}
/* Styl dla formularza - przycisk do kopiowania hasła */
#copyPasswordBtn {
    margin-top: 10px; /* Przesuń przycisk o 10px w dół */
    display: block; /* Ustawienie na blok, aby móc zastosować auto margines */
    margin-left: auto; /* Wyśrodkowanie poziome */
    margin-right: auto; /* Wyśrodkowanie poziome */
}

#passwordLength {
    margin-bottom: 20px; /* Odstęp od dolu */
    font-size: 1.2rem; /* Rozmiar tekstu */
}

#passwordLengthMessage {
    margin-bottom: 20px; /* Odstęp od dolu */
    font-size: 1.2rem; /* Rozmiar tekstu */
}

#passwordOutput {
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    font-style: oblique;
    word-wrap: break-word;
    max-width: 30ch;
    margin: auto; /* Dodane, aby wyśrodkować blok */
}

.form-label.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem; /* Rozmiar tekstu */
}
