<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kamil Ćwikła">
    <title>Secure Pass Guide</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Własny CSS -->
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/educationSection.css" rel="stylesheet">
</head>
<body class="bg-dark text-light">
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card text-light education">
                <div class="card-body">
                    <h2 class="card-title text-center">Przechowywanie haseł</h2>
                    <p class="card-text">
                        W poprzednich sekcjach dowiedziałeś się, jakie istnieją zagrożenia dla twoich danych w tym dla haseł oraz kilka metod jak przed nimi się chronić.
                        W tej części natomiast dowiesz się o dobrych praktykach przechowywania twojej kombinacji znaków. Poniżej zostanie omówione kilka dobrych strategi zabezpieczających dane logowania:
                        <ol>
                            <li>Używaj menadżera haseł — istnieje wiele narzędzi tego typu takich jak LastPass, 1Password czy Bitwarden.
                                Przechowują one wszystkie Twoje dane dostępowe w jednym miejscu. Każda kombinacja znaków jest zaszyfrowana i chroniona jednym silnym kluczem, który jest tylko do twojej
                                wiadomości. Dzięki temu, nawet jeśli ktoś niepowołany zdobędzie dostęp do Twojego menadżera, nie będzie mógł odczytać Twoich danych bez tego klucza.
                            </li>
                            <li>
                                Nie zapisuj twoich kombinacji znaków do logowania w przeglądarce internetowej — narzędzia te często oferują możliwość zapisywania haseł,
                                co jest wygodne dla użytkownika, ale nie jest to najbezpieczniejsza opcja. Informacje te są przechowywane w sposób,
                                który pozwala na ich odczytanie przez złośliwe oprogramowanie. Dlatego zaleca się korzystanie z bezpieczniejszych alternatyw do przechowywania
                                danych logowania jak na przykład wspomniane wyżej menadżery haseł.
                            </li>
                            <li>
                                Inną opcją do ochrony i przechowywanie Twoich danych logowania jest korzystanie z plików z hasłami zaszyfrowanych na swoim komputerze. Istnieje wiele narzędzi, które mogą pomóc Ci utworzyć zaszyfrowany plik,
                                który będzie zabezpieczony przed nieautoryzowanym dostępem.
                            </li>
                            <li>
                                Kolejną metodą jest korzystanie z czegoś takiego jak bezpieczne notatki — niektóre urządzenia takie, jak iPhone oferują możliwość tworzenia zaszyfrowanych notatek. Możesz użyć tej funkcjonalności w podobny sposób co powyżej do przechowywania twoich haseł.
                            </li>
                            <li>
                                Zaszyfrowane dyski twarde — oznacza to, że nawet jeśli ktoś zdobędzie fizyczny dostęp do dysku, nie będzie mógł odczytać zawartych na nim danych bez odpowiedniego klucza.
                            </li>
                            <li>
                                Ostatnią dobrą metodą jest fizyczne przechowywanie — może wydawać się to przestarzałe czy staromodne, ale zapisywanie haseł na papierze i przechowywanie ich w bezpiecznym miejscu (np. sejfie) jest jednym ze sposobów. Ważne jest jednak, aby te notatki były przechowywane w miejscu niedostępnym dla innych osób.
                            </li>
                        </ol>
                            Jak możesz zauważyć istnieje wiele dobrych metod przechowywania haseł.
                            Pamiętaj jednak, że bez względu na to, jak przechowujesz swoje dane logowania, ważne jest, aby regularnie je aktualizować i nigdy nie udostępniać innym osobom.
                            Bezpieczeństwo danych jest procesem, dlatego ważne jest, aby regularnie przeglądać i aktualizować swoje praktyki bezpieczeństwa.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>