<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kamil Ćwikła">
    <title>Secure Pass Guide</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Własny CSS -->
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/educationSection.css" rel="stylesheet">
</head>
<body class="bg-dark text-light">
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card text-light education">
                    <h2 class="card-title text-center">Silne hasło</h2>
                    <p class="card-text">W poprzedniej części dowiedziałeś się, jakie istnieją zagrożenia w internecie dla twoich haseł i danych.
                        Jak dobrze wiesz jedną z metod walczenia z częścią z tych niebezpieczeństw jest silne hasło w tej sekcji dowiesz się czym
                        w ogóle takie hasło jest oraz jak je możesz stworzyć. Poznasz też narzędzia stworzone także przez twórcę tego serwisu,
                        których możesz sprawdzić swoje hasło oraz wygenerować silne hasło o odpowiedniej długości wybranej przez ciebie.
                    </p>
                    <h3>Czym jest silne hasło?</h3>
                    <p class="card-text"> Na początek przejdźmy do tego, czym w ogóle jest hasło oraz silne hasło. Jak zapewne wiesz hasło
                        jest to sekwencja znaków składająca się z liter (małych i dużych) cyfr oraz znaków specjalnych
                        takich jak np. @, !, # itp.
                        Jest ono używane do autoryzacji tożsamości użytkownika w celu uzyskania dostępu. Jak widzisz hasło jest bardzo istotną kwestią w celu zabezpieczenia twoich danych przed niepożądanym dostępem.
                    <br><br>
                        Poznałeś właśnie czym jest hasło oraz jak ważne ono jest w codziennym życiu, ponieważ chroni ono nasze konta bankowe, społecznościowe i wiele innych ważnych aplikacji.
                        Powinniśmy przejść w następnej kolejności do terminu silnego hasła.
                        Silne hasło uznaje się za takie, które jest mało przewidywalne to znaczy bardzo mało osób poza nami
                        je używa lub korzystamy z niego sami. Jest na tyle nielogiczne, że innym osobom wydaje się losowo wygenerowane lub po prostu takie jest. Silne hasła nie tworzą jakiś słów, które istnieją, a przynajmniej na pierwszy rzut oka.
                        Np. hasło "AlaMaKota123" jest przewidywalne, ponieważ korzysta z powszechnie używanych słów co oznacza że jest słabe, ale klucz "A1aM4K0t4" jest dużo mniej przewidywalne, ponieważ wybieramy liczby zamiast niektórych liter, które je przypominają jak 1 - l.
                        Istnieje oczywiście wiele dobrych praktyk, które mogą nam pomóc w tworzeniu silnych haseł:
                        <ol>
                            <li>Używanie długich haseł — im hasło jest dłuższe, tym trudniejsze jest do złamania. Długie hasła są trudniejsze do odgadnięcia przez atakującego, nawet jeśli używają zaawansowanych technik złamania.</li>
                            <li>Mieszanie różnych typów znaków — dobrą praktyką jest używanie kombinacji dużych i małych liter, cyfr oraz symboli. </li>
                            <li>Unikanie powszechnych słów i fraz — tak jak wspomniano powyżej hasła powinny wydawać się losowo wygenerowane. Unikaj powszechnych słów czy fraz, które mogą być łatwe do odgadnięcia.</li>
                            <li>Regularna zmiana haseł — zmienianie hasła co jakiś czas może pomóc w utrzymaniu ich siły. Nawet gdy ktoś złamie nasze hasło, częsta zmiana haseł może zapobiec długotrwałemu dostępowi do twojego konta, na którym z niego korzystałeś.</li>
                            <li>Tworzenie hasła oparte o pierwsze znaki kazdego słowa z jakiegos zdania np. "Jakub ma psa i go goni" to hasło może wyglądać w ten sposób "Jmpigg" dla nas jest zrozumiałe, ale dla innych użytkowników nie jest w ogóle. </li>
                        </ol>
                            Oczywiście istnieje wiele innych dobrych metod, dzięki którym możesz uchronić swoje dane przed
                            niepożądanym dostępem do nich.

                        Istnieje oczywiście także wiele narzędzi zarówno do generowania, jak i sprawdzania haseł
                        przykładowe narzędzia zostały także stworzone na tym serwisie, które możesz sam przetestować.
                        <h3>Poniżej kliknij obrazek i sam cię przekieruje:</h3>
                        <div class="container-fluid text-center">
                            <a href="{{ url_for('checkAndGeneratePassword') }}"><img src="../static/img/checkGen.png" alt="checkGen"></a>
                        </div>
                        Oczywiście nie będzie omawiany algorytm działania w całości, ale chciałbym się skupić na sposobie oceny czy nasze hasło jest silne.
                        Zarówno generator, jak i narzędzie do sprawdzania siły hasła bazują na czymś zwanym entropią oraz ilością informacji. Na początek określamy alfabet,
                        czyli sprawdzamy typy znaków w generatorze wybrane przez użytkownika, a w sprawdzaniu hasła znajdujemy
                        typy znaków w jego podanej kombinacji w odpowiednim polu. W następnej kolejności obliczamy entropię, czyli średnią ilość informacji na jeden znak. Możemy to zrobić korzystając ze wzoru:
                        Logarytm o podstawie 2 z N gdzie N jest to ilość znaków w alfabecie, który wcześniej ustaliliśmy. W kolejnym kroku musimy przemnożyć entropię przez ilość znaków w naszym haśle.
                        Dzięki otrzymanemu wynikowi możemy określić losowość naszego hasła. Na przykład według artykułu „Siła haseł w kontekście ochrony zbiorów danych”, który przeanalizował zalecenia w „Rozporządzeniu w systemie o podwyższonym stopniu bezpieczeństwa” wymagania spełniające siłę hasła to 8 znaków (liter alfabetu łacińskiego oraz cyfry). Oznacza to, że minimalna siła (dobrego) hasła to około 47.63 bity.
                        Jest to jedna ze skuteczniejszych metod, ponieważ pokazuje ono nam jak nasze hasło jest zróżnicowane, ale warto ją wzbogacić o porównanie ze słownikami popularnych haseł.
                        Jak widzisz stworzenie silnego hasła nie jest wcale trudne mozesz to zrobic w krótkim czasie.
                        Warto korzystać z każdej metody jednocześnie. Istnieje wiele narzędzi, które pomogą ci określić czy twoje hasło jest odpowiednie takie jak te na tej stronie.
                        Na tym zakończy się ta sekcja.
                        W kolejnej części dowiesz się jak powinieneś przechowywać swoje hasła oraz przykładowe narzędzia, które ci w tym pomogą.
                    </p>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>