.theme-light {
    background-color: #fff;
    color: #000;
}

.theme-light #passwordOutput,
.theme-light #passwordInput{
    background-color: #343a40;
    color: #fff;
}

.theme-light .carousel-item .container { // Dodane
    background-color: #fff;
    color: #000;
}

